body {
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-family:'Open Sans', sans-serif;
    font-size:22px;
    font-weight:800px;
    font-style:italic;
}

.container {
   border: 2px solid;
   border-radius: 15px;
   padding: 10px;
   margin: 10px auto;
}

